* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url("../assets/background.jpg");
  background-size: 120% 120%;
  background-repeat: no-repeat;
  box-sizing: 100vw 100vh;
}

.board {
  height: 80%;
  width: 50%;
  border: 1px solid rgb(0, 0, 0);
  width: 90vmin;
  height: 92vmin;
  display: grid;
  grid-template-rows: repeat(18, 1fr);
  grid-template-columns: repeat(18, 1fr);
  background: rgb(113, 255, 148);
  background: linear-gradient(
    198deg,
    rgba(113, 255, 148, 1) 0%,
    rgba(245, 255, 85, 1) 35%,
    rgba(84, 231, 255, 1) 96%
  );
}

.food {
  background-color: red;
  border-radius: 2rem;
}

.head {
  background-color: #9223f4;
  border-radius: 2rem;
}

.snake {
  background-color: #9223f4;
  border-radius: 2.2rem;
}
